image: registry.gitlab.com/toposens/ros-projects/ts-ros:latest

cache:
  paths:
    - ccache/

before_script:
   - source gitlab-ros.bash

lint:
  stage: build
  script:
    - catkin_lint -W3 .

make:
  stage: build
  script:
    - catkin_make_isolated

test:
  stage: test
  script:
    - catkin_make run_tests
    - catkin_test_results
