<launch>
	<include file="$(find toposens_driver)/launch/toposens_driver.launch" />

	<node pkg="toposens_markers" type="toposens_markers_node" name="ts_markers_node" output="screen">
		<param name="frame" value="toposens" />
	</node>
	
	<node pkg="tf" type="static_transform_publisher" name="ts_broadcaster" args="0 0 0 0 0 0 1 world toposens 100" />
	<node pkg="rviz" type="rviz" name="grid_visualization" output="screen" args="-d $(find toposens_markers)/rviz/toposens_markers.rviz" />
</launch>
