<launch>
  <arg name="port" default="/dev/ttyUSB0" />
  <arg name="frame_id" default="toposens" />
  <arg name="t_celsius" default="24.5" />
  
  <node pkg="toposens_driver" type="toposens_driver_node" name="ts_driver_node" output="screen">
    <param name="port" value="$(arg port)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="t_celsius" value="$(arg t_celsius)" />
  </node>
</launch>
