<launch>
	<node pkg="toposens_pointcloud" type="toposens_pointcloud_node" name="ts_cloud_node" output="screen">
		<param type="str" name="fixed_frame" value="toposens" />
	</node>

	<node pkg="rviz" type="rviz" name="grid_visualization" output="screen" args="-d $(find toposens_pointcloud)/rviz/robot_markers.rviz" />
</launch>
